body {
  font-family: Arial;
  background: linear-gradient(135deg, #e9d5ff, #bfdbfe);
}

.form-container {
  width: 500px;
  margin: 30px auto;
  padding: 25px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px #888;
}

h1 {
  text-align: center;
  color: #6d28d9;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #bbb;
  border-radius: 6px;
}

textarea {
  height: 60px;
}

button {
  padding: 12px 25px;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  background: #7c3aed;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #5b21b6;
}

.error {
  color: red;
  font-size: 14px;
}